.container {
  position: relative;
  line-height: 1.5;
  min-height: calc(100vh - 4rem);
  align-items: center;
  justify-content: center;
}

.title {
  font-style: initial;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(6, 54, 24);
}

.appbar {
  z-index: 0;
}
.badge:hover {
  color: rgb(0, 202, 252);
}

.badge2:hover {
  color: cornflowerblue;
}

.alert {
  padding: 0.4rem;
  margin: 0;
  opacity: 1;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: #317539;
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: rgba(19, 196, 78, 0.781);
}

.btn:hover {
  opacity: 0.8;
}

.search {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: rgba(240, 10, 10, 0.904);
  color: rgb(38, 40, 61);
  font-family: 'Arial';
  align-items: center;
}

.btn-warning,
.bg-warning,
.badge-warning,
.alert-warning {
  background: rgba(236, 240, 10, 0.904);
  color: rgb(38, 40, 61);
  font-family: 'Arial';
  align-items: center;
}
