.container {
  position: relative;
  line-height: 1.5;
  min-height: calc(100vh - 4rem);
  align-items: center;
  justify-content: center;
}


.title {
font-style: initial;
font-weight: bolder;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgb(221, 221, 221);
}

.appbar{
z-index: 0;
}
.badge:hover{
  color: rgb(0, 202, 252);
}

.badge2:hover{
  color: cornflowerblue;
}